<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Monitor</title>
	<link rel="stylesheet" type="text/css" href="../help.css" />
</head>

<body>
<h2>Monitors</h2>

<h3>I. Monitor</h3>

The Monitor displays all active sources (sensors, gestures, mouse). 
<ol>
	<li>
		Display
		<p>
			The type of the sensor, the name and the current value of the sensor will be shown
			in the display.
		</p>
		<p>
			Changes of the the type and the name can be done by clicking the "spanner" icon.
			By clicking the "spanner" icon it is also possible to <a href="calibration.html">calibrate</a> each
			individuell sensor. 
		</p>
	</li>
	<li>
		Tool bar options
		<ul>
			<li>
				Set Global MIDI ( <img src="../icons/midiconfig.gif" alt="midiconfig icon" /> )<br/>
				Click this option to activate und deactivate the global <a href="midiconfig.html">MIDI sending</a> (on/off).
			</li>
			<li>
				Show Graphical Monitor ( <img src="../icons/monitor.gif" alt="midiconfig icon" /> )<br/>
				Click this option to show the Graphical Monitor view.
			</li>
		</ul>
	</li>
</ol>

<h3>II. Graphical Monitor View</h3>

The Graphical Monitor is a real-time graph display for all active sources 
(senors, gestures, mouse).<br/> To assure distinction all graphs are displayed in 
different colors. <br/>
A displayed graph legend helps you to distinguish the different sources.<br/>
Like all other JGlove views it is possible to adjust the height and width of the Graphical 
Monitor view. 
<p>
The number of the displayed values and the interval values of the Graphical Monitor
can be adjusted in the <a href="preferences.html">preferences</a>.
</p>
Some examples for different settings:
<div class="center" style="float:left">
	<img src="../images/graph-30-10.gif" alt="Graph Example 1" />
	<div class="caption">Image: Graph Example 1 - value: 30, interval: 10</div>
</div>
<div class="center" style="float:left">
	<img src="../images/graph-30-100.gif" alt="Graph Example 2" />
	<div class="caption">Image: Graph Example 2 - value: 30, interval: 100</div>
</div>
<div class="center" style="float:left">
	<img src="../images/graph-30-50.gif" alt="Graph Example 3" />
	<div class="caption">Image: Graph Example 3 - value: 30, interval: 50</div>
</div>
<div class="center" style="float:left">
	<img src="../images/graph-60-50.gif" alt="Graph Example 4" />
	<div class="caption">Image: Graph Example 4 - value: 60, interval: 50</div>
</div>
<div class="center" style="float:left">
	<img src="../images/graph-80-10.gif" alt="Graph Example 5" />
	<div class="caption">Image: Graph Example 5 - value: 80, interval: 10</div>
</div>
</body>
</html>