<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Mouse</title>
	<link rel="stylesheet" type="text/css" href="../help.css" />
</head>

<body>
<h2>Mouse</h2>
<p>JGlove offers the possibilty to use your standard PC mouse as a sensors. This can be helpful
for testing the MIDI functionality when no other input device is available.<br/>
Please note that this is no replacement, the JGlove window must remain visible to use the
 mouse x and y axis and must have focus to use the mouse buttons.</p>
<ol>
<li>Open the Mouse Pad View by clicking the main toolbar ( <img src="../icons/mices_mouse.gif" /> ) icon or use
the "Open Mouse pad" option
</li>

<li>To activate all mouse motions und buttons press the ( <img src="../icons/mices_mouse.gif" /> ) icon 
    in the toolbar of the Mouse</br>Pad view. <br/>
    If the mouse pad view is
    activated, the monitor views shows a "Mouse X" source for the x-axis,</br>
    a "Mouse Y" source for the y-axis and five mouse buttons "Mouse B1".."Mouse B5"
</li>
<li>
    If your move your mouse inside the Mouse Pad view or press the mouse
    buttons while your mouse</br> is within the Mouse Pad view you all motions
    are recognized.    
</li>
</ol>
<div class="center">
	<img src="../images/mousePad.gif" alt="MousePad with Monitors" />
	<div class="caption">Image: MousePad with Monitors</div>
</div>
<br/>
Tip: 
A helpful usage for the mouse button is for example the MIDI Start/Stop function.</br>     
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 For details see <a href="midiconfig.html">MIDI Configuration</a>


</body>
</html>